<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("header.ejs") %>

    <div>
        <h1>Home</h1>
        <p>To kickstart your blogging experience, all you need to do is type "<span style="font-weight: bold;">Link</span>/compose" in your web browser's address bar. This will take you to a user-friendly page named "compose.ejs," designed for creating your blog posts. Feel free to let your creativity flow and express your thoughts as you write your blogs, knowing that they are safely stored in the database. And when it comes to managing your content, it couldn't be simpler; you have the ability to delete your posts from the database whenever you wish, providing you with complete freedom and peace of mind as you embark on your blogging journey. So, go ahead, start writing, and relish the experience!</p>
    </div>

    <% if(locals.objects){ %>
        <% objects.forEach((item) => { %>
            <div>
                <h1><%= item.title %></h1>
                <div class="del">
                    <p id="para"><%= item.content.substring(0,150) + "......." %><a href="post/<%= item._id %>">Read More</a></p>
                    <form action="/delete" method="post" id="del2" >
                        <button name="id" value="<%= item._id %>">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    <% } %>
        

    <%- include("footer.ejs") %>
</body>
</html>